html, body, h1, h2, h3, h4, p {
    margin:0;
    padding:0;
}

nav{    
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

body{
    background-color: lightgrey;
}

.sidenav{
    background-color: black;
    width: 200px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    text-decoration: none;
}

a {
    color:aliceblue;
    text-decoration: none;
    line-height: 40px
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-left: 200px;
}

.player-card {
    display: block;
    text-decoration: none;
    color: white;
    background: #1d4ed8;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.2s ease;
    position: relative;
    padding: 14px;
    height: 170px;
}

.player-card:hover {
    transform: scale(1.03);
}


.player-info {
    padding: 15px;
}

.player-info h3 {
    margin: 0;
    font-weight: bold;
}

.player-info p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 20px
}

.player-image {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 180px;
    left: 140px
}

.ladder-table {
    margin-left: 220px; 
    margin-top: 20px;
    width: calc(100% - 240px);
    border-collapse: collapse;
    background: white;
}

.ladder-table th, .ladder-table td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: center;
}

.ladder-table th {
    background-color: lightgrey;
    color: black;
}


.team-cell {
    text-align: left;
}