{% extends "layout.html" %}
{% block body %}
{% if article %}

<div class="page-content">

    <a href="/news/{{ article[0] }}" class="hero-news">

        <img
           src="{{ url_for('static',filename='images/' + article[4]) }}"class="hero-image">

       <div class="hero-overlay">

          <span class="category">
                {{ article[5] }}
           </span>

            <h1>
                {{ article[1] }}
            </h1>

            <p>
                {{ article[2] }}
            </p>

        </div>

    </a>

</div>

{% endif %}

{% endblock %}