{% extends "layout.html" %}
{% block body %}

<a href="{{ url_for('spikers_article') }}" class="hero-news">

        <img src="{{ url_for('static', filename='images/16-0.png') }}"
             class="hero-image">

        <div class="hero-overlay">

            <span class="category">MATCH REPORT</span>

            <h1>Christchurch Spikers extend perfect 16-0 season</h1>

            <p>The Spikers remain unbeaten after another dominant straight-sets victory.</p>

        </div>

    </a>

</div>


{% endblock %}
