{% extends "layout.html" %}
{% block body %}

<div class="player-grid">
    {% for player in results %}
        <a href="/player/{{ player[0] }}" class="player-card team-{{ player[8]|lower|replace(' ', '-') }}">
            <div class="player-info">
                <h3>{{ player[2] }}</h3>
                <p>{{ player[4] }}</p>
                <p>{{ player[8] }}</p>
            </div>

                <img class="player-image"
     src="{{ url_for('static', filename='images/' + player[5]) }}">

        </a>
    {% endfor %}
</div>

{% endblock %}
